build/
.cache/
.vscode/
.idea/
compile_commands.json
*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.so
*.exe
CMakeUserPresets.json
.cpm-cache/

# Python
__pycache__/
*.egg-info/
dist/
.venv/
_skbuild/
wheelhouse/
